<app-post></app-post>

<app-post-list></app-post-list>
<!-- Pipes -->
<!-- <h1>{{ title | uppercase}}</h1> -->

<!-- Number and decimal pipes -->
<!-- <h1> {{ count | number}}</h1>
<h1> {{ dcValue | number: '1.2-2'}}</h1> -->

<!-- Currency Pipe -->
<!-- <h1> {{ price | currency: "USD" : false : '2.1-1' }}</h1>  -->

<!-- Date Pipe -->
<!-- <h1> {{ today | date: 'fullDate' }}</h1> -->

<!-- Percent Pipe -->
<!-- <h1> {{ .567 | percent : '1.1-1' }}</h1> -->

<!-- Json Pipe -->
<!-- <p>{{ postObj | json }}</p> -->

<!-- Slice Pipe -->
<!-- <h3>{{ postArray | slice: 2:4}}</h3> -->

<!-- Custom Pipes -->
<!-- <h3>{{ userdetails.city | appendCLI }}</h3> -->

<!-- <p>{{ dummyText | summary }}</p> -->


<!-- <div class="form-area">
    <h3>User Details</h3>

    <input type="text" placeholder="Name" [(ngModel)]='name'>
    <br><br>

    <input type="email" placeholder="E-Mail" [(ngModel)]='email'>
    <br><br>

    <textarea cols="30" rows="10" placeholder="Address" [(ngModel)]='address'></textarea>
    <br><br>

    <button (click) = 'onClick()'>Save Data</button>
</div>


<div *ngIf= "userArray.length > 0; else noData"> 
    <div class="table-area">
        <table width = '500px'>
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </thead>
    
            <tr *ngFor = "let user of userArray; let index = index" >
                <td>{{ index +1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <td (click)="onDelete(index)"><button>Delete</button></td>
            </tr>
        </table>
    </div>
</div>
<ng-template #noData >
    <h4>No data to show</h4>
</ng-template> -->